body
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#canvas
{
    width: 75vh;
    height: 75vh;
    display:grid;
}

#menu
{

}

button
{
    
}